body {
  margin: 0;
}

.app.background {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  background-color: #f1efeb;
  padding:20px;
}

.app .container {
  width: 100%;
  max-width: 960px;
}

audio {
 vertical-align: middle;
}